.cardlist
  display: flex
  flex-wrap: wrap
  justify-content: center

.title
  font-family: "Helvetica Neue", Arial, sans-serif
  text-align: center
  font-size: 30px
  padding: 20px
  background: #f7f7f7
  color: #676767